<?xml version="1.0"?>
<!-- One callable quadrotor -->

<launch>

  <!-- Name and Initial position -->
  <arg name="name"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="swarm_nodes" default="false"/>
  <arg name="n" default="1"/>

  <!-- Quadrotor with pos controller and info topic -->
  <group ns="$(arg name)">
  
    <!-- Spawn quadrotor -->  
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor.gazebo.xacro"/>
      <arg name="name" value="$(arg name)"/>
      <arg name="tf_prefix" value="$(arg name)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
    </include>
    
    <!-- Position and velocity info of quadrotor -->
    <node pkg="swarm" type="quad_info.py" name="quad_info" output="screen"/>

    <!-- High level position controller -->
    <node pkg="swarm" type="pos_controller.py" name="pos_controller" output="screen"/>

    <!-- micro_pso node -->
    <node pkg="swarm" type="micro_pso.py" name="micro_pso" output="screen" if="$(arg swarm_nodes)"/>

  </group>

</launch>
