<?xml version="1.0"?>
<!-- One callable quadrotor -->

<launch>

  <arg name="name"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>

  <group ns="$(arg name)">
    
    <!-- Spawn quadrotor -->
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor.gazebo.xacro"/>
      <arg name="name" value="$(arg name)"/>
      <arg name="tf_prefix" value="$(arg name)"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
    </include>
    
    <!-- High level position controller -->
    <node pkg="swarm" type="vel_controller.py" name="controller"/>

  </group>

</launch>
