<?xml version="1.0"?>
<!-- Spawn swarm of n size and make the reynolds and micro-pso algoritms with them -->

<launch>
	
	<!-- General variables -->
	<arg name="n"/>
	<arg name="visible" default="false"/>
	<arg name="rviz" default="false"/>

	<!-- Start Gazebo with empty world running in (max) realtime and the quadrotor -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="gui" value="false" unless="$(arg visible)"/>
		<arg name="headless" value="true" unless="$(arg visible)"/>
	</include>

	<!-- Swarm spawn -->
	<include file="$(find swarm)/launch/call_swarm/s$(arg n).launch"/>

	<!-- Reynolds rules -->
	<node pkg="swarm" type="reynolds.py" name="reynolds" args="$(arg n)" output="screen"/>

	<!-- Micro PSO nodes -->
	<group ns="swarm">
		<node pkg="swarm" type="best_fit.py" name="best_fit" output="screen"/>
		<node pkg="swarm" type="convergence.py" name="convergence" output="screen"/>
	</group>

	<!-- Rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-f world -d $(find swarm)/rviz_cfg/s$(arg n).rviz" if="$(arg rviz)"/>

	<!-- Plot gBest -->
	<group ns="graphs">
		<node pkg="rqt_plot" type="rqt_plot" name="fitness" args="/last_best"/>
		<node pkg="rqt_plot" type="rqt_plot" name="position" args="/last_best/quad"/>
	</group>

</launch>
