<?xml version="1.0"?>
<!-- Five quadrotors -->

<launch>

	<!-- Start Gazebo with wg world running in (max) realtime-->
	<include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  
	<!-- Spawn quadrotors -->
	<include file="$(find swarm)/launch/call_quad.launch">
		<arg name="name" value="uav0"/>
	</include>
	<include file="$(find swarm)/launch/call_quad.launch">
		<arg name="name" value="uav1"/>
		<arg name="y" value="-1.0"/>
	</include>
	<include file="$(find swarm)/launch/call_quad.launch">
		<arg name="name" value="uav2"/>
		<arg name="y" value="1.0"/>
	</include>
	<include file="$(find swarm)/launch/call_quad.launch">
		<arg name="name" value="uav3"/>
		<arg name="x" value="-1.0"/>
	</include>
	<include file="$(find swarm)/launch/call_quad.launch">
		<arg name="name" value="uav4"/>
		<arg name="x" value="1.0"/>
	</include>

	<group ns="uav0">
		<node pkg="swarm" type="go_up_and_stay.py" name="up"/>
	</group>

</launch>
