<?xml version="1.0"?>
<!-- Swarm made of 7 quadrotors -->

<launch>

	<!-- Initial positions (editable) -->
	<arg name="x0" default="1.0"/> <!-- Edit -->
	<arg name="y0" default="0.0"/> <!-- Edit -->
	<arg name="x1" default="1.0"/> <!-- Edit -->
	<arg name="y1" default="1.0"/> <!-- Edit -->
	<arg name="x2" default="0.0"/> <!-- Edit -->
	<arg name="y2" default="1.0"/> <!-- Edit -->
	<arg name="x3" default="-1.0"/> <!-- Edit -->
	<arg name="y3" default="0.0"/> <!-- Edit -->
	<arg name="x4" default="-1.0"/> <!-- Edit -->
	<arg name="y4" default="-1.0"/> <!-- Edit -->
	<arg name="x5" default="0.0"/> <!-- Edit -->
	<arg name="y5" default="-1.0"/> <!-- Edit -->
	<arg name="x6" default="0.0"/> <!-- Edit -->
	<arg name="y6" default="0.0"/> <!-- Edit -->

	<!-- Spawn quadrotors in positions -->
	<include file="$(find swarm)/launch/call_quad.launch">
		<arg name="name" value="uav0"/>
		<arg name="x" value="$(arg x0)"/>
		<arg name="y" value="$(arg y0)"/>
		<arg name="swarm_nodes" value="true"/>
		<arg name="n" value="7"/>
	</include>
	<include file="$(find swarm)/launch/call_quad.launch">
		<arg name="name" value="uav1"/>
		<arg name="x" value="$(arg x1)"/>
		<arg name="y" value="$(arg y1)"/>
		<arg name="swarm_nodes" value="true"/>
		<arg name="n" value="7"/>
	</include>
	<include file="$(find swarm)/launch/call_quad.launch">
		<arg name="name" value="uav2"/>
		<arg name="x" value="$(arg x2)"/>
		<arg name="y" value="$(arg y2)"/>
		<arg name="swarm_nodes" value="true"/>
		<arg name="n" value="7"/>
	</include>
	<include file="$(find swarm)/launch/call_quad.launch">
		<arg name="name" value="uav3"/>
		<arg name="x" value="$(arg x3)"/>
		<arg name="y" value="$(arg y3)"/>
		<arg name="swarm_nodes" value="true"/>
		<arg name="n" value="7"/>
	</include>
	<include file="$(find swarm)/launch/call_quad.launch">
		<arg name="name" value="uav4"/>
		<arg name="x" value="$(arg x4)"/>
		<arg name="y" value="$(arg y4)"/>
		<arg name="swarm_nodes" value="true"/>
		<arg name="n" value="7"/>
	</include>
	<include file="$(find swarm)/launch/call_quad.launch">
		<arg name="name" value="uav5"/>
		<arg name="x" value="$(arg x5)"/>
		<arg name="y" value="$(arg y5)"/>
		<arg name="swarm_nodes" value="true"/>
		<arg name="n" value="7"/>
	</include>
	<include file="$(find swarm)/launch/call_quad.launch">
		<arg name="name" value="uav6"/>
		<arg name="x" value="$(arg x6)"/>
		<arg name="y" value="$(arg y6)"/>
		<arg name="swarm_nodes" value="true"/>
		<arg name="n" value="7"/>
	</include>

	<!-- Export positions as parameters -->
	<group ns="uav0">
		<param name="x" value="$(arg x0)" type="double"/>
		<param name="y" value="$(arg y0)" type="double"/>
	</group>
	<group ns="uav1">
		<param name="x" value="$(arg x1)" type="double"/>
		<param name="y" value="$(arg y1)" type="double"/>
	</group>
	<group ns="uav2">
		<param name="x" value="$(arg x2)" type="double"/>
		<param name="y" value="$(arg y2)" type="double"/>
	</group>
	<group ns="uav3">
		<param name="x" value="$(arg x3)" type="double"/>
		<param name="y" value="$(arg y3)" type="double"/>
	</group>
	<group ns="uav4">
		<param name="x" value="$(arg x4)" type="double"/>
		<param name="y" value="$(arg y4)" type="double"/>
	</group>
	<group ns="uav5">
		<param name="x" value="$(arg x5)" type="double"/>
		<param name="y" value="$(arg y5)" type="double"/>
	</group>
	<group ns="uav6">
		<param name="x" value="$(arg x6)" type="double"/>
		<param name="y" value="$(arg y6)" type="double"/>
	</group>

</launch>
